<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="RebornBuddy.Assemblies" version="1.0.464" targetFramework="net48" />
  <package id="StyleCop.Analyzers" version="1.2.0-beta.376" targetFramework="net48" developmentDependency="true" />
  <package id="StyleCop.Analyzers.Unstable" version="1.2.0.376" targetFramework="net48" developmentDependency="true" />
</packages>